body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #d9e4f5;
  background-image: linear-gradient(315deg, #f5e3e6 20%, #d9e4f5 74%);
}

.container h2 {
  text-align: center;
}

.container .table-responsive-lg {
  box-shadow: 0 6.4px 14.4px 0 rgba(0, 0, 0, 0.132), 0 1.2px 3.6px 0 rgba(0, 0, 0, 0.108);
}

.table {
  margin-bottom: 0;
}

.container table {
  border-radius: 5px;
  text-align: center;
}
.container table thead .sort.active {
  background-color: #343a40;
}
.container table thead .sort a {
  display: block;
  color: white !important;
}
